/*
0 - 600px: phone
600 - 900px: tablet portrait
900 - 1200px: tablet landscape
[1200 - 1800px] normal styles
1800px + big desktop

 - phone
 - tab-port
 - tab-land
 - big-desktop
*/
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  70% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRightSlow {
  0% {
    opacity: 0;
    transform: translateX(-15rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes bottomright {
  0% {
    width: 0;
    height: 0;
    padding-top: 0;
    visibility: visible; }
  25% {
    width: 100%;
    height: 0;
    padding-top: 0;
    visibility: visible; }
  50% {
    height: 100%;
    width: 100%;
    visibility: visible; }
  75% {
    visibility: visible; }
  100% {
    visibility: visible; } }

@keyframes topleft {
  0% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden; }
  25% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden; }
  50% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden; }
  75% {
    width: 100%;
    height: 0;
    padding-bottom: 0;
    visibility: visible; }
  100% {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible; } }

@keyframes revbottomright {
  0% {
    width: 100%;
    height: 100%;
    visibility: visible; }
  25% {
    width: 100%;
    height: 100%;
    visibility: visible; }
  50% {
    width: 100%;
    height: 100%;
    visibility: visible; }
  75% {
    width: 100%;
    height: 0;
    padding-top: 0;
    visibility: visible; }
  100% {
    width: 0;
    height: 0;
    padding-top: 0;
    visibility: hidden; } }

@keyframes revtopleft {
  0% {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible; }
  25% {
    width: 100%;
    height: 0;
    padding-bottom: 0;
    visibility: visible; }
  50% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden; }
  75% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden; }
  100% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem 3rem 0; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }
  @media (max-width: 37.5em) {
    body {
      width: 100%; } }

ul {
  list-style-type: none; }

@font-face {
  font-family: 'icomoon';
  src: url("./../../misc/fonts/icomoon.eot?4yl6k0");
  src: url("./../../misc/fonts/icomoon.eot?4yl6k0#iefix") format("embedded-opentype"), url("./../../misc/fonts/icomoon.ttf?4yl6k0") format("truetype"), url("./../../misc/fonts/icomoon.woff?4yl6k0") format("woff"), url("./../../misc/fonts/icomoon.svg?4yl6k0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-envelop:before {
  content: "\e945"; }

.icon-location:before {
  content: "\e947"; }

.icon-map:before {
  content: "\e94b"; }

.icon-map2:before {
  content: "\e94c"; }

.icon-mobile:before {
  content: "\e958"; }

.icon-quotes-left:before {
  content: "\e977"; }

.icon-quotes-right:before {
  content: "\e978"; }

.icon-fire:before {
  content: "\e9a9"; }

.icon-mail:before {
  content: "\ea83"; }

.icon-facebook2:before {
  content: "\ea91"; }

.icon-instagram:before {
  content: "\ea92"; }

.icon-twitter:before {
  content: "\ea96"; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  font-size: 1.6rem;
  line-height: 1.7;
  color: #555; }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: 2rem;
    padding-bottom: 2rem;
    animation: moveInRight 1.2s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1.5rem;
    animation: moveInRightSlow 1.2s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading__secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .2rem;
  background-image: linear-gradient(to right, #d67c2e, rgba(239, 41, 23, 0.8));
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all .3s;
  backface-visibility: hidden; }
  @media (max-width: 56.25em) {
    .heading__secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading__secondary {
      font-size: 2.5rem; } }
  .heading__secondary:hover {
    transform: scale(1.1); }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .5;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.section__text-box {
  width: 80%;
  padding: 3rem 6rem;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: .3rem; }
  @media (max-width: 37.5em) {
    .section__text-box {
      width: 85%;
      padding: 2rem; } }

.section-copyright {
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  background-position: top center; }

.section-footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff; }

.footer__logo-box {
  padding: 0 0 3rem;
  text-align: center;
  width: 100%;
  margin: 0 auto; }

.footer__logo {
  width: 14rem; }
  @media (max-width: 37.5em) {
    .footer__logo {
      width: 45%; } }

.footer__text {
  border-top: 3px solid #d67c2e;
  padding: 3.5rem 2rem 0rem; }
  @media (max-width: 37.5em) {
    .footer__text {
      padding: 3rem 1rem;
      text-align: center;
      width: 90%;
      margin: 0 auto; } }

.footer__map {
  border-top: 3px solid #d67c2e;
  padding: 3.5rem 2rem 0rem; }
  @media (max-width: 37.5em) {
    .footer__map {
      padding: 3rem 1rem;
      width: 90%;
      margin: 0 auto; } }

.footer__address {
  border-top: 3px solid #d67c2e;
  padding: 3.5rem 2rem 0rem; }
  @media (max-width: 37.5em) {
    .footer__address {
      padding: 3rem 1rem;
      text-align: center;
      width: 90%;
      margin: 0 auto; } }

.copyright__parent {
  margin-top: -4rem;
  padding: 0 0 2rem; }
  @media (max-width: 37.5em) {
    .copyright__parent {
      text-align: center;
      width: 90%;
      margin: 0 auto; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
    @media (max-width: 37.5em) {
      .row .col-1-of-3 {
        width: 100%; } }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 85vh;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(214, 124, 46, 0.8), rgba(239, 41, 23, 0.4)), url("./../img/hero.jpg");
  background-size: cover;
  background-position: top center; }
  @media (max-width: 37.5em) {
    .header {
      height: 80vh;
      background-position: left top; } }
  .header__logo-box {
    position: absolute;
    top: 3.5rem;
    right: 3.5rem; }
    @media (max-width: 37.5em) {
      .header__logo-box {
        display: none; } }
  .header__logo {
    width: 10rem; }
  .header__hackney-icon-box {
    position: absolute;
    top: 3.5rem;
    left: 3.5rem; }
    @media (max-width: 37.5em) {
      .header__hackney-icon-box {
        display: none; } }
  .header__icon-hackney {
    width: 10rem; }
  .header__text-box {
    width: 80%;
    position: absolute;
    top: 55%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    backface-visibility: hidden; }
    @media (max-width: 37.5em) {
      .header__text-box {
        top: 35%; } }
  .header__social-icons-box {
    position: absolute;
    bottom: 1.5rem;
    right: 3.5rem; }
    @media (max-width: 37.5em) {
      .header__social-icons-box {
        bottom: 3rem;
        right: 0;
        width: 100%;
        margin: 0 auto;
        text-align: center; } }
  .header__social-icon {
    display: inline-block;
    color: #fff;
    font-size: 4rem;
    text-decoration: none;
    transition: all .3s; }
    .header__social-icon:not(:last-child) {
      padding-right: 2rem; }
      @media (max-width: 37.5em) {
        .header__social-icon:not(:last-child) {
          padding-right: 3.5rem; } }
    .header__social-icon:hover {
      transform: scale(1.1) translateY(-0.3rem); }

.nav {
  background-color: #fff;
  padding: 1.5rem 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10; }
  @media (max-width: 37.5em) {
    .nav {
      display: none; } }
  .nav__box {
    background-color: #fff;
    padding: 1rem 0;
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #555; }
    .nav__box__anchor {
      color: inherit;
      letter-spacing: 1px;
      transition: color 0.75s ease-in-out;
      text-decoration: none;
      text-transform: uppercase;
      padding: 10px;
      position: relative;
      border: 5px solid transparent; }
      .nav__box__anchor:hover {
        color: #333;
        transition: color 0.75s ease-in-out; }
        .nav__box__anchor:hover:before {
          animation: bottomright 0.5s ease-in-out forwards; }
        .nav__box__anchor:hover:after {
          animation: topleft 0.5s ease-in-out forwards; }
      .nav__box__anchor:before {
        content: "";
        position: absolute;
        box-sizing: content-box;
        bottom: -5px;
        padding-right: 5px;
        left: -5px;
        width: 100%;
        height: 100%;
        border-bottom: 5px solid rgba(239, 41, 23, 0.6);
        border-right: 5px solid rgba(239, 41, 23, 0.6);
        visibility: hidden; }
      .nav__box__anchor:after {
        content: "";
        position: absolute;
        box-sizing: content-box;
        top: -5px;
        right: -5px;
        padding-left: 5px;
        width: 100%;
        height: 100%;
        border-top: 5px solid rgba(239, 41, 23, 0.6);
        border-left: 5px solid rgba(239, 41, 23, 0.6);
        visibility: hidden; }

a.active:after {
  animation: revtopleft 0.5s ease-in-out forwards; }

a.active:before {
  animation: revbottomright 0.5s ease-in-out forwards; }

.section-about {
  padding: 8rem 0;
  font-size: 1.8rem;
  letter-spacing: .1rem; }
  @media (max-width: 37.5em) {
    .section-about {
      padding: 3rem 0; } }

.section-food {
  position: relative;
  font-size: 1.8rem;
  padding: 10rem 0; }
  @media (max-width: 37.5em) {
    .section-food {
      padding: 5rem 0; } }

.section-events {
  font-size: 1.8rem;
  padding: 10rem 0; }
  @media (max-width: 37.5em) {
    .section-events {
      padding: 3rem 0; } }

.section-contact {
  padding: 15rem 0;
  font-size: 1.8rem;
  letter-spacing: .1rem;
  background-image: url("./../../img/food_background.jpg");
  border-top: 2px solid #f7f7f7; }
  @media (max-width: 37.5em) {
    .section-contact {
      padding: 3rem 0; } }

.contact__social-icons-box {
  padding: 2.5rem 0 0;
  text-align: center; }
  @media (max-width: 37.5em) {
    .contact__social-icons-box {
      padding: 3rem 0 0; } }

.contact__social-icon {
  display: inline-block;
  font-size: 4.5rem;
  padding: 0 3rem;
  text-decoration: none;
  background-image: linear-gradient(to right, #d67c2e, #EF2917);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all .3s; }
  @media (max-width: 37.5em) {
    .contact__social-icon {
      font-size: 4rem;
      padding: 2rem 1rem 0; } }
  .contact__social-icon:not(:last-child) {
    padding-right: 2rem; }
  .contact__social-icon:hover {
    transform: rotate(10deg) scale(1.2); }

.section-footer {
  margin-top: 1rem;
  padding: 4rem 0 1rem; }

.section-copyright {
  padding: 2rem 0; }
