
.section-about {
  padding: 20rem 0;
  font-size: $font-size-medium;
  letter-spacing: .2rem;
}

.section-food {
  position: relative;
  padding: 10rem 0;
}

.section-contact {
  padding: 20rem 0;
  font-size: $font-size-medium;
  letter-spacing: .2rem;
}

.section-footer {
  padding: 3rem 0;
}

.section-copyright {
  padding: 2rem 0;
}
