
.section-about {
  padding: 20rem 0;
  font-size: $font-size-medium;
}

.section-food {
  position: relative;
  padding: 10rem 0;
}

.section-contact {
  padding: 20rem 0;
  font-size: $font-size-medium;
}

.section-footer {
  padding: 6rem 12rem 3rem;
}
