.section-footer {
  background-color: rgba($color-black, .9);
  color: $color-white;
}

.footer {

    &__hackney-icon-box {
      text-align: center;
      padding: 0 0 1.5rem 0;

      @include respond(phone) {
        padding-top: 0;
      }
    }

    &__icon-hackney {
      padding: 3rem 0 0 0;
      width: 10rem;

      @include respond(phone) {
        padding: 2rem 0 0 0;
      }
    }

    &__text {
      border-top: 3px solid $color-primary;
      padding: 3.5rem 2rem 0rem;

      @include respond(phone) {
        padding: 3rem 1rem 0rem;
        text-align: center;
        width: 90%;
        margin: 0 auto;
      }

      &__hackney > a {
        color: $color-white;
      }
    }

    &__map {
      border-top: 3px solid $color-primary;
      padding: 3.5rem 0rem 0rem;

      @include respond(phone) {
        padding: 3rem 0rem;
        width: 90%;
        margin: 0 auto;
      }

      & iframe {
        width: 90%;
      }
    }

    &__address {
      border-top: 3px solid $color-primary;
    padding: 3.5rem 2rem 0rem;

    @include respond(phone) {
      padding: 3rem 1rem;
      text-align: center;
      width: 90%;
      margin: 0 auto;
    }
  }
}

.copyright {

    &__parent {
    margin-top: 3rem;
    padding: 0 0 2rem;

    @include respond(phone) {
      text-align: center;
      width: 90%;
      margin: 0 auto;
    }
  }

  &__text {
    color: $color-white;
  }

  &__link {
    color: $color-white;
  }
}
