.header {
  height: 85vh;
  position: relative;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary, .8),
    rgba($color-primary-red, .4)),
    url('./../img/hero.jpg');
    background-size: cover;
    background-position: top center;


  &__logo-box {
    position: absolute;
    top: 3.5rem;
    right: 3.5rem;
  }

  &__logo {
    width: 10rem;
  }

  &__text-box {
    width: 80%;
    position: absolute;
    top: 55%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
  }
}

.nav {
  background-color: rgba($color-grey-light-1, .9);
  padding: 1.5rem 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  &__box__item {
    background-color: $color-white;
    padding: 1rem 0;
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 400;
    color: $color-grey-dark;
    box-shadow: 0 .5rem 2rem rgba($color-black, .15);
    border-bottom: 3px solid transparent;
    border-radius: .4rem;

    &--1 {

    }

    &--2 {

    }

    &--3 {

    }

    &--4 {

    }

    &:hover {
      border-bottom: 3px solid $color-primary-light;
    }
  }

}
