$default-font-size: 1.6rem;

// grid variables
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// color variables
$color-primary: #d67c2e;
$color-primary-light: #E19F67;
$color-primary-red: #EF2917;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-grey-dark-2: #9e9e9e;
